<!DOCTYPE html>
<%- include('../partials/head');%>

    <body class="container">

        <%- include('../partials/header'); %>

            <main>
                página sobre
            </main>

            <%- include('../partials/footer');%>

    </body>

    </html>