<!DOCTYPE html>
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>

            <main class="jumbotron">
                Rodando HTML com NODE
            </main>

            <%- include('../partials/footer');%>
    </body>

    </html>