<!DOCTYPE html>
<%- include('head');%>

    <body>
        <header>
            about
        </header>

        <main>
            página sobre
        </main>
        <%- include('footer');%>

    </body>

    </html>