<!DOCTYPE html>
<%- include('head');%>

    <body class="container">

        <header class="navbar navbar-expand-lg navbar-light bg-light">EJS</header>

        <main class="jumbotron">
            Rodando HTML com NODE
        </main>
        <%- include('footer');%>
    </body>

    </html>